.controls ul {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.surprise-btn, .show-all-btn, .add-recipe-btn {
  background-color: initial;
  color: #b0aebb;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.controls {
  display: flex;
  margin-top: 70px;
  margin-bottom: 16px;
  list-style: none;
  -webkit-justify-content: center;
  justify-content: center;
  border-top: 1px solid rgba(19,18,18,.1);
  border-bottom: 1px solid rgba(19,18,18,.1);
}

.search-section {
  margin: 16px 0 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  max-width: 500px;
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border: 0;
  text-transform: uppercase;
  transition: color .1s ease,background-color .1s ease,box-shadow .1s ease;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.445;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
} 

.search-input {
  font-size: 16px;
  font-family: markpro,Helvetica Neue,helvetica,sans-serif;
  font-weight: 400;
  line-height: 1.11;
  text-rendering: optimizeLegibility;
  color: #f9f9fa;
  background-color: initial;
  padding: 8px 32px 8px 0;
  display: inline-block;
  width: 87%;
  box-sizing: border-box;
  border: none;
  border-bottom: 0.25rem solid #5e5c70;
}

.search-svg-icon {
  width: 16px;
  height: 16px;
  display: block;
  opacity: .5;
  fill: #f9f9fa;
} 

.search-btn {
  background-color: inherit;
  border: none;
  padding: 0;
}

.search-input:focus {
  border-color: rgb(244, 117, 33);
}

@media screen and (min-width: 430px) {
  .search-input {
    font-size: 32px;
    font-weight: 400;
    height: 3rem;
  }
  .search-svg-icon {
    width: 16px;
    height: 16px;
    transition: all .3s ease;
  }
}

@media screen and (min-height: 43.75rem) and (min-width: 50em) {
  .search-svg-icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: all .3s ease;
  }
  .search-input {
    font-size: 3rem;
    font-family: markpro,Helvetica Neue,helvetica,sans-serif;
    font-weight: 200;
    line-height: 1.11;
    text-rendering: optimizeLegibility;
    color: #f9f9fa;
    padding: .25rem 6.25rem .25rem 0;
    transition: all .3s ease;
    height: 4rem;
  }
}

.dashboard-nav {
  align-content: space-around;
  text-align: center;
}

.main-sections {
  display: flex;
  margin: 0;
  list-style: none;
  justify-content: center;
  border-top: 1px solid rgba(19, 18, 18, 0.1);
  border-bottom: 1px solid rgba(19, 18, 18, 0.1);
}

.main-sections li {
  display: flex;
  padding: 20px 0;
  text-align: center;
}

.main-sections li:hover, .main-sections li:focus {
  color: white;
  box-shadow: inset 0 0 0 1px rgb(244, 117, 33);
  background-image: linear-gradient(to top left,#ff8a00,#da1b60);
}

.search {
  padding-left: 15px;
  justify-content: flex-end;
  flex-direction: flex-end;
}

.header-middle-area {
  margin-bottom: 10px;
}

ul a {
  text-decoration: none;
  margin: 5px;
}

nav {
  color: #fff;
  background-color: transparent;
  width: 100%;
  border: none;
  box-shadow: none;
  text-decoration: none;
}

nav ul a {
  font-size: 16px;
}