
/* ========== INFO ========== */
.info-btns {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.info-content {
  padding: 30px; 
  width: 100%;
}

.info-content li {
  list-style-type: disc;
}

.info-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(27, 26, 38, 0.9);
  z-index: 2;
}

.info-text-list {
  text-align: left;
}

.info-btn {
  background-color: transparent;
  color: white;
  border: none;
}

.got-it-btn, .github-repo {
  color: #b0aebb;
  font-size: 1rem;
  font-weight: 700;
  padding: 8px;
  background-color: inherit;
}

.got-it-btn:hover, .got-it-btn:focus, .github-repo:hover, .github-repo:focus {
  font-weight: 700;
  padding: 8px;
  background-color: #474658;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 630px) {
  .got-it-btn {
    font-size: 1rem;
  }
  .github-repo {
    font-size: 1rem;
  }
  .info-content {
    width: 600px;
    margin: auto;
  }
}

@media screen and (min-width: 900px) {
  .got-it-btn {
    font-size: 1.3rem;
  }
  .github-repo {
    font-size: 1.3rem;
  }
  .info-content {
    width: 700px;
    margin: auto;
  }
}