.recipe {
  max-width: 400px;
  list-style: none;
  border: 0.05px solid #e8e8e9;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

.recipe-img {
  width: 99%;
  margin: 0 auto;
}

.recipe:hover, .recipe:focus  {
  background-color: #e8e8e9;
  color: #1b1a26;
  cursor: pointer;
}

.recipe-condensed {
  background-color: transparent;
  border: none;
}

.ingredients-list {
  text-align: left;
}

.directions-list {
  text-align: left;
}

.recipe-list {
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 5vh;
}

.directions-list {
  padding-bottom: 20px;
}

.spinner {
  width: 500px;
}

.search-btn {
  cursor: pointer;
}

.recipe-description {
  margin: 10px;
  font-size: 1.5rem;
}

@media screen and (max-width: 320px) {
  button {
    font-size: 1rem;
  }
}

@media (min-width: 600px) {
  .recipe {
    break-inside: avoid;
    width: 430px;
  }
}

@media (min-width: 960px) {
  .recipe-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .recipe {
    break-inside: avoid;
    width: 500px;
  }
}
