.add-recipe-overlay {
  padding-top: 1vh;
}

.cancel-add-recipe-btn, .clear-values-btn, .save-recipe-btn, .add-btn {
  color: #b0aebb;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  background-color: inherit;
  cursor: pointer;
} 

.remove-btn {
  background-color: inherit;
  border: inherit;
  border-radius: 2px;
  margin: 5px;
  font-weight: 700;
  color: inherit;
}

.add-btn {
  padding: 10px;
  margin: 10px;
}

.message-error {
  color: #f45845;
}

.message-success {
  color: #45f458;
}

.ingredient, .ing-container {
  list-style-type: none;
}

.form-input {
  margin-bottom: 10px;
}

.message {
  margin: 10px;
  padding: 10px;
}

.add-recipe-overlay {
  border-top: 2px solid rgb(244, 117, 33);
  border-bottom: 2px solid rgb(244, 117, 33);
  padding-bottom: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.new-recipe-form {
  flex-direction: column;
}

fieldset {
  height: 100%;
  padding: 1.25rem;
  box-sizing: border-box;
  background: #1b1a26;
  border: none;
}

.form-error {
  color: red;
  margin: 10px 0 0 0;
}

.form-warning {
  color: orangered;
  margin: 10px 0 0 0;
}

.ing-input {
  border-left: none;
  border-right: none;
}

/* 
@media screen and (min-width: 430px) {
  .form-input {
    margin-bottom: 10px;
    display: inline-block;
    width: 85%;
  }
} 

@media screen and (min-width: 600px) {
  .form-input {
    margin-bottom: 10px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}  */

/* textarea {
  width: 293px;
  min-width: 60%;
  max-width: 80%%;
  background-color: #1b1a26;
  border: .125rem solid #b0aebb;
  font-size: 1rem;
  font-weight: 500;
  color: #b0aebb;
} */

textarea, select, input {
  margin: 10px 0;
}

@media screen and (min-width: 320px) {
  legend {
    font-weight: 900;
    font-size: 1.5rem;
    color: #b0aebb;
    width: 100%;
  }

  textarea {
    width: 100%;
    background-color: #1b1a26;
    border: .125rem solid #b0aebb;
    font-size: 1rem;
    font-weight: 500;
    color: #b0aebb;
    height: 12vh;
  }

  select {
    width: 100%;
    background-color: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: #b0aebb;
  }

  input {
    background-color: #1b1a26;
    border: .125rem solid #b0aebb;
    height: 2.375rem;
    line-height: 3.625rem;
    font-size: 1rem;
    font-weight: 500;
    color: #b0aebb;
    width: 100%;
  }  
  .ingredient {
    border: 1px solid #b0aebb;
  }

  .ingredients-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}  

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 1920px) {

}