.float {
  max-width: 90%;
  margin: 0 auto;
}
.float:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.float-item {
  float: left;
}

.whats-cooking {
  text-align: center;
  background-color: #1b1a26;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e8e8e9;
  padding-bottom: 50px;
}

.container {
  margin-top: 80px;
}

a {
  color: #e8e8e9;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.first-timer {
  padding-bottom: 100px;
  width: 100%;
  border-bottom: 2px solid rgb(244, 117, 33);
}

.first-timer-content {
  margin-top: 100px;
  display: inline-block;
  width: 80%;
}

@media screen and (min-width: 630px) {
  .float {
    width: 600px;
  }
}

@media screen and (min-width: 900px) {
  .float {
    width: 700px;
  }
}