.surprise-btn {
  margin: 1.25rem 0 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  max-width: 25rem;
  width: 90%;
  height: 3.375rem;
  padding: 0 1.25rem;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: color .1s ease,background-color .1s ease,box-shadow .1s ease;
  font-family: markpro,Helvetica Neue,helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.445;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  background-color: initial;
/* off-white buttons: */
  color: #b0aebb;
  box-shadow: inset 0 0 0 0.125rem #b0aebb;

/* orange buttons: */
  /* color:rgb(244, 117, 33);
  box-shadow: inset 0 0 0 0.125rem rgb(244, 117, 33); */
}

.surprise-btn:hover {
  color: white;
  box-shadow: inset 0 0 0 0.125rem rgb(244, 117, 33);
  /* background-color:  rgb(244, 117, 33); */
  background-image: linear-gradient(to top left,#ff8a00,#da1b60);
}

.show-all-btn {
  margin: 1.25rem 0 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  max-width: 25rem;
  width: 90%;
  height: 3.375rem;
  padding: 0 1.25rem;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: color .1s ease,background-color .1s ease,box-shadow .1s ease;
  font-family: markpro,Helvetica Neue,helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.445;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  background-color: initial;
/* off-white buttons: */
  color: #b0aebb;
  box-shadow: inset 0 0 0 0.125rem #b0aebb;

/* orange buttons: */
  /* color:rgb(244, 117, 33);
  box-shadow: inset 0 0 0 0.125rem rgb(244, 117, 33); */
}

.show-all-btn:hover {
  color:white;
  box-shadow: inset 0 0 0 0.125rem rgb(244, 117, 33);
  /* background-color:  rgb(244, 117, 33); */
  background-image: linear-gradient(to top left,#ff8a00,#da1b60);
}

.controls {
  margin-bottom: 1.5rem;
}