.recipe {
  /* background-color: #666666; */
  padding: 1vh;
  list-style: none;
  border: 1px solid white;
}

/* .recipe:nth-child(even) {
  background-color: #999999
} */

.recipe-condensed {
  background-color: transparent;
  border: none;
}

.ingredients-list {
  text-align: left;
}

.directions-list {
  text-align: left;
}