.remove-btn {
  background-color: rgb(212, 82, 82);
}

.add-btn {
  padding: 10px;
  margin: 10px;
}

.ing-container {
  background-color:rgb(55, 71, 57);
}

.ing-container:nth-child(odd) {
  background-color: rgb(40, 52, 41);
}

li {
  list-style-type: none;
}

.message-error {
  color: red;
}

.message-success {
  color: green;
}
