.recipe {
  background-color: #666666;
  padding: 1vh;
  list-style: none;
}

.recipe:nth-child(even) {
  background-color: #999999
}

/* .hidden {
  display: none;
}

.expanded {
  display: inline-block;
} */

.false {
  display: none;
}

.true {
  display: inline-block;
}

.recipe-condensed {
  background-color: transparent;
  border: none;
}