.whats-cooking {
  text-align: center;
  background-color: #1b1a26;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: #e8e8e9;
}

a {
  color: #e8e8e9;
  text-decoration: none;
}

.show-all-btn {
  padding: 10px;
  margin: 10px;
} 

.surprise-btn {
  padding: 10px;
}

.info-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(27, 26, 38, 1);
  z-index: 2;
  cursor: pointer;
}

.got-it-btn {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.add-recipe-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(27, 26, 38, 1);
  z-index: 2;
  cursor: pointer;
}

.cancel-add-recipe-btn {
  padding: 10px;
  margin: 10px;
}

.clear-values-btn {
  padding: 10px;
  margin: 10px;
}

.save-recipe-btn {
  padding: 10px;
  margin: 10px;
}

.info-btn {
  /* padding: 10px; */
  background-color: transparent;
  color: white;
  border: none;
}

.add-recipe-btn {
  /* padding: 10px; */
  background-color: transparent;
  color: #e8e8e9;
  border: none;
}

button {
  cursor: pointer;
}

.add-recipe-text {
  font-size: 2vh;
}

.add-recipe-text:hover {
  text-shadow: 1px 1px grey;
}

.info-text {
  font-size: 2vh;
}

.info-text:hover {
  text-shadow: 1px 1px grey;
  color: white;
}

.info-content {
  margin-top: 15%;
}

/* WHAT'S COOKING TOP-NAV */

.header-content {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 4.5rem;
  padding-bottom: .125rem;
  min-width: 20rem;
  background-color: #1b1a26;
  box-sizing: border-box;
  z-index: 99;
  margin-top: 0;
}

.header-left {
  display: flex;
}

.header-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  transition: .2s ease;
  padding: .375rem .625rem;
}

.header-right {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style-type: none;
}

.search-form {
  margin-top: 100px;
}

.logo-content {
  font-size: calc(1rem + 2vmin);
  font-weight: bolder;
}

.wc-header-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .125rem;
/* plain orange div bar */
  /* background-color: rgb(244, 117, 33); */
/* gradient orange div bar */
  background-image: linear-gradient(to top left,#ff8a00,#da1b60);
  z-index: 99;
}