* {
  box-sizing: border-box;
}

/*float layout*/
.float {
  max-width: 500px;
  margin: 0 auto;
}
.float:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.float-item {
  float: left;
}

.whats-cooking {
  text-align: center;
  background-color: #1b1a26;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e8e8e9;
}

.container {
  margin-top: 80px;
}

a {
  color: #e8e8e9;
  text-decoration: none;
}

button {
  cursor: pointer;
}
