.whats-cooking {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: white;
}

.whats-cooking-header {
  font-size: calc(1.5rem + 2vmin);
  font-weight: bolder;
  /* background-color: #999999; */
}

.top-nav {
  margin-top: 0;
  margin-bottom: 5px;
  width: 100%;
  list-style-type: none;
  background-color: grey;
}

a {
  color: white;
  text-decoration: none;
}

header {
  /* background-color: #333; */
 /*  position: fixed; Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.show-all-btn {
  padding: 10px;
  margin: 10px;
}

.surprise-btn {
  padding: 10px;
}

.info-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(	40, 44, 52, 1);
  z-index: 2;
  cursor: pointer;
}

.got-it-btn {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.add-recipe-overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(	40, 44, 52,1);
  z-index: 2;
  cursor: pointer;
}

.cancel-add-recipe-btn {
  padding: 10px;
  margin: 10px;
}

.clear-values-btn {
  padding: 10px;
  margin: 10px;
}

.save-recipe-btn {
  padding: 10px;
  margin: 10px;
}

.info-btn {
  /* padding: 10px; */
  background-color: transparent;
  color: white;
  border: none;
}

.add-recipe-btn {
  /* padding: 10px; */
  background-color: transparent;
  color: white;
  border: none;
}

button {
  cursor: pointer;
}

.add-recipe-text {
  font-size: 2vh;
}

.add-recipe-text:hover {
  text-shadow: 1px 1px grey;
}

.info-text {
  font-size: 2vh;
}

.info-text:hover {
  text-shadow: 1px 1px grey;
}

.info-content {
  margin-top: 15%;
}